:host {
    display: table-row;
}

.single-position {
	
    &__suggestion-list {
        position: absolute;
        border: 2px black solid;
        padding: 5px;
        padding-left: 30px;
        list-style: circle;
        min-width: 300px;
        background-color: white;
    }

    &__suggestion-item {
        &::hover {
            cursor: pointer;
        }
    }
}