<div class="client-box">
  <label>
    Company Name: <input type="text" class="client-input" name="companyName" [(ngModel)]="client.companyName" />
  </label>
  <label>
    Address: <input type="text" class="client-input" name="address" [(ngModel)]="client.address" />
  </label>
  <label>
    Zip Code: <input type="text" class="client-input" name="zipCode" [(ngModel)]="client.zipCode" />
  </label>
  <label>
    Country: <input type="text" class="client-input" name="country" [(ngModel)]="client.country" />
  </label>
  <label>
    NIP: <input type="text" class="client-input" name="nip" [(ngModel)]="client.nip" />
  </label>
</div>