<div class="client-box">
  Company Name:
  <input type="text" class="client-input" name="companyName" [(ngModel)]="client.companyName" />
  Address:
  <input type="text" class="client-input" name="address" [(ngModel)]="client.address" />
  Zip Code:
  <input type="text" class="client-input" name="zipCode" [(ngModel)]="client.zipCode" />
  Country:
  <input type="text" class="client-input" name="country" [(ngModel)]="client.country" />
  NIP:
  <input type="text" class="client-input" name="nip" [(ngModel)]="client.nip" />
</div>